form {
  width: 60%;
  margin: 0 auto;
  background: rgba(255, 255, 255, .85);
  padding: 10px;
  border-radius: 20px;
}

#conceptsLabel {
  margin-top: 15px;
}

.question {
  float: right; 
  display: flex;
  color: rgba(0, 0, 0, .7);
  font-family: 'Lobster', cursive;
}

.howAreYou {
  justify-content: right;
  font-size: 50px;
}

.filter_options {
  width: 95%;
  margin: 25px auto 0px auto;
  background: rgba(255, 255, 255, .85);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.radio_buttons {
  width: 45%;
}

.fieldset {
  width: 100%;
}

.btn-group-toggle {
  display: flex;
  flex-wrap: wrap;
}

.search_bar {
  width: 45%;
  text-align: right;
}


/* .btn-group-toggle {
  flex-wrap: wrap;
  width: 600px;
} */

.radioButton {
  margin: 5px;
  border-radius: 15px !important;
}

.showAllButton {
  text-align: left
}

@media (max-width:700px) {
  .howAreYou {
    display: none;
  }
}

/* @media (max-width: 1250px) {
  .btn-group-toggle {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .btn-group-toggle {
    width: 350px;
  }
}
@media (max-width: 750px) {
  .btn-group-toggle {
    width: 250px;
  }
} */